.field {
    display: flex;

    position: relative;
    cursor: pointer;
}

.ball {
    position: absolute;

    height: 40px;
    width: 40px;
}

.points {
    color: #ff3636;
}

.square {
    height: 100px;
    width: 100px;

    background-color: #4471ff;
    border: 1px solid whitesmoke;

    cursor: pointer;
}

.position {
    position: absolute;
}